@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");

/* =========== Global =========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  text-overflow: ellipsis;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fafafa;
  color: #8e8e8e;
  font-size: 14px;
  overflow: hidden;
}

button {
  border: none;
  background: none;
}
.pointer {
  cursor: pointer;
}
/* =========== nav =========== */

.nav-box {
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
}
.nav-box__1 {
  display: flex;
  align-items: center;
}
.nav-box__1 .logo-title {
  width: 103px;
  height: 29px;
  object-fit: contain;
}

.nav-box__search-bar {
  display: none;
}

.nav-box__2__container__emojis {
  display: flex;
  flex-direction: row;
}

.emojis-box {
  margin-left: 1.5rem;
}
.new-post {
  border: none;
  background: none;
}

.profile-img {
  width: 24px;
  height: 24px;
}

.story {
  margin-bottom: 1.5rem;
}
.story__container {
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}
.story__container__organizer__parent {
  background: #fff;
  display: flex;
  flex-direction: row;
  padding: 23px;
}

.story__container__organizer__parent li > button {
  /* display: flex; */
  border: 2px solid red;
  padding: 2px;
  position: relative;
}
.story__container__organizer__parent li > button > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}
.story__container__organizer__parent li > button > span {
  color: #4b4b4b;
  font-size: 12px;
  letter-spacing: 0.1px;
  opacity: 0.7;
}
.story__container__organizer__parent li:nth-last-child(1) {
  overflow: hidden;
}
.story__container__organizer__parent__content button {
  border-radius: 50%;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  cursor: pointer;
  margin-right: 1rem;
  width: 66px;
  height: 66px;
}
.content__container {
  background: #fff;
}
.content__container-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.content__container-account__container {
  display: flex;
  align-items: center;
}
.account:hover {
  cursor: pointer;
}
.account-id {
  color: #262626;
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 600;
}
.account-id:hover {
  text-decoration: underline;
}
.account-profile__image {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.content__container-content img {
  width: 100%;
  max-width: 640px;
  min-height: 500px;
  height: auto;
  object-fit: contain;
  padding: 0 2rem;
}
.content__container-info {
  padding: 0 15px;
}
.content__container-info .interaction {
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
}
.content__container-info .interaction button {
  border: none;
  background: none;
}
.interaction span:nth-child(2) {
  margin: 0 0.5rem;
}
.interaction {
  padding: 6px 0;
}
.interaction-1,
.interaction button {
  cursor: pointer;
}

.interaction :hover {
  color: #8e8e8e;
}
.likes,
.explanation__account-id {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}

.explanation__account-more,
.explanation__account-id,
.view-comments,
.hours-ago {
  cursor: pointer;
}

.hours-ago {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 10px;
  letter-spacing: 0.2px;
}
.add-comments {
  display: none;
}
.section-2__main__right {
  display: none;
}
/* ====== (min-width: 640px) ====== */
@media only screen and (min-width: 640px) {
  .nav-box__search-bar {
    width: 200px;
  }
  .search-bar input {
    width: 80px;
    text-overflow: ellipsis;
  }
  .content__container-info {
    padding: 0;
  }

  .likes,
  .interaction,
  .explanation__account-id,
  explanation__account-text,
  explanation__account-more,
  .view-comments,
  .hours-ago,
  .add-comments {
    padding: 0 15px;
  }
  .add-comments {
    border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    display: block;
    padding: 1rem;
  }
  .add-comments ::placeholder {
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
  }

  .add-comments-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .add-comments-container__emoji-comment {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-comments .type-comment {
    height: 20px;
    display: flex;
    border: 0;
    padding: 0 2rem;
  }
  .add-comments .post {
    color: rgba(var(--d69, 0, 149, 246), 1);
    opacity: 0.3;
    font-size: 13px;
    font-weight: 600;
  }
}
/* ====== (min-width: 645px) ====== */
@media only screen and (min-width: 645px) {
  /* =========== Nav =========== */
  .section-2 nav {
    background: #fff;
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  }
  .nav-box {
    border-bottom: none;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
  }
  .nav-box__search-bar {
    display: block;
    background-color: #efefef;
    border-radius: 5px;
    margin-left: 15px;
    width: auto;
  }
  .search-bar {
    padding: 0 13px;
    width: auto;
  }
  .search-bar form {
    display: flex;
    align-items: center;
  }
  .search-bar input {
    border: none;
    background-color: #efefef;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    opacity: 0.6;
    width: 100%;
  }

  /* =========== Article - story =========== */
  .story {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }
  .story__container {
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  }

  .story__container__organizer {
    width: 550px;
  }
  /* =========== Article - content =========== */

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content__container {
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  }
}

/* ====== (min-width: 720px) ====== */
@media only screen and (min-width: 720px) {
  .section-1 {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .nav-box__search-bar {
    width: 280px;
  }
}

/* ====== (min-width: 1000px) ====== */
@media only screen and (min-width: 1000px) {
  .section-1 {
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  }
  .nav-box {
    width: 990px;
    margin-right: 10px;
  }
  .section-2__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .section-2__main__organizer {
    margin-right: 30px;
  }
  .section-2__main__right {
    margin-top: 40px;
    display: block;
    width: 293px;
    padding: 0 15px;
  }
  .my-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 5px 0;
  }
  .my-account__img img {
    width: 56px;
    height: 56px;
  }
  .my-account__id {
    display: flex;
    flex-direction: column;
  }
  .my-account__id span:nth-child(1) {
    color: #262626;
    font-weight: 600;
  }
  .blue-color {
    color: #0095f6;
    font-weight: 600;
    font-size: 12px;
  }
  .suggestions-for-you {
    margin: 1rem 0;
    font-weight: 600;
  }
  .suggestions-for-you :nth-child(2) {
    color: #262626;
    font-size: 12px;
    font-weight: 600;
    color: pointer;
  }
  .flexing-column-space-between {
    display: flex;
    justify-content: space-between;
  }
  .my-account .mini-profile-img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
  }
}
