@media only screen and (max-width: 639px) {
  .section-2 {
    margin-top: 50px;
  }
}

/* ====== (min-width: 640px) ====== */
@media only screen and (min-width: 640px) {
  .nav-box {
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  }
  .section-2 {
    margin-top: 90px;
  }

  .nav-box__search-bar {
    width: 200px;
  }
  .search-bar input {
    width: 80px;
    text-overflow: ellipsis;
  }

  .content__container-info {
    padding: 0;
  }

  .likes,
  .interaction,
  .explanation__account-id,
  explanation__account-text,
  explanation__account-more,
  .view-comments,
  .hours-ago,
  .add-comments {
    padding: 0 15px;
  }
  .add-comments {
    padding: 1rem;
  }
  .add-comments .type-comment {
    width: 500px;
  }
  .comment-style {
    padding-left: 15px;
  }
}
/* ====== (min-width: 645px) ====== */
@media only screen and (min-width: 645px) {
  /* =========== Nav =========== */
  .section-2 nav {
    background: #fff;
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  }
  .nav-box {
    border-bottom: none;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
  }
  .nav-box__search-bar {
    display: block;
    background-color: #efefef;
    border-radius: 5px;
    margin-left: 15px;
    width: auto;
  }
  .search-bar {
    padding: 0 13px;
    width: auto;
  }
  .search-bar form {
    display: flex;
    align-items: center;
  }
  .search-bar input {
    border: none;
    background-color: #efefef;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    opacity: 0.6;
    width: 100%;
  }

  /* =========== Article - story =========== */
  .story {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }
  .story__container {
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  }

  .story__container__organizer {
    width: 580px;
  }
  /* =========== Article - content =========== */

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content__container {
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  }
}

/* ====== (min-width: 720px) ====== */
@media only screen and (min-width: 720px) {
  .section-1 {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .nav-box__search-bar {
    width: 280px;
  }
}

/* ====== (min-width: 1000px) ====== */
@media only screen and (min-width: 1000px) {
  .section-1 {
    background-color: #fff;
    display: flex;
    justify-content: center;
  }
  .nav-box {
    width: 1100px;
    margin-right: 10px;
  }

  .section-2 {
    margin-top: 60px;
  }

  .section-2__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .section-2__main__organizer {
    position: absolute;
    left: 180px;
  }
  .my-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 5px 0;
  }
  .my-account__img img {
    width: 56px;
    height: 56px;
  }
  .my-account__id {
    display: flex;
    flex-direction: column;
  }
  .my-account__id span:nth-child(1) {
    color: #262626;
    font-weight: 600;
  }
  .blue-color {
    color: #0095f6;
    font-weight: 600;
    font-size: 12px;
  }
  .suggestions-for-you {
    margin: 1rem 0;
    font-weight: 600;
  }
  .suggestions-for-you :nth-child(2) {
    color: #262626;
    font-size: 12px;
    font-weight: 600;
    color: pointer;
  }
  .flexing-column-space-between {
    display: flex;
    justify-content: space-between;
  }
  .my-account .mini-profile-img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 1300px) {
  .section-2__main__right {
    display: block;
    width: 293px;
    padding: 0 15px;
    position: fixed;
    right: 12rem;
  }
  .section-2__main__right {
    right: 12rem;
  }
}

@media only screen and (min-width: 1350px) {
  .section-2__main__organizer {
    padding-left: 3rem;
  }
  .section-2__main__right {
    right: 14rem;
  }
}
@media only screen and (min-width: 1400px) {
  .section-2__main__organizer {
    padding-left: 5rem;
  }

  .section-2__main__right {
    right: 16rem;
  }
}
@media only screen and (min-width: 1500px) {
  .section-2__main__organizer {
    padding-left: 7rem;
  }

  .section-2__main__right {
    right: 18rem;
  }
}
@media only screen and (min-width: 1550px) {
  .section-2__main__organizer {
    padding-left: 9rem;
  }

  .section-2__main__right {
    right: 20rem;
  }
}

@media only screen and (min-width: 1600px) {
  .section-2__main__organizer {
    padding-left: 11rem;
  }

  .section-2__main__right {
    right: 22rem;
  }
}

@media only screen and (min-width: 1650px) {
  .section-2__main__organizer {
    padding-left: 12rem;
  }

  .section-2__main__right {
    right: 24rem;
  }
}
@media only screen and (min-width: 1700px) {
  .section-2__main__organizer {
    padding-left: 14rem;
  }

  .section-2__main__right {
    right: 26rem;
  }
}

@media only screen and (min-width: 1750px) {
  .section-2__main__organizer {
    padding-left: 16rem;
  }

  .section-2__main__right {
    right: 28rem;
  }
}

@media only screen and (min-width: 1800px) {
  .section-2__main__organizer {
    padding-left: 18rem;
  }

  .section-2__main__right {
    right: 30rem;
  }
}

@media only screen and (min-width: 1850px) {
  .section-2__main__organizer {
    padding-left: 19rem;
  }

  .section-2__main__right {
    right: 32rem;
  }
}

@media only screen and (min-width: 1900px) {
  .section-2__main__organizer {
    padding-left: 21rem;
  }

  .section-2__main__right {
    right: 33rem;
  }
}

@media only screen and (min-width: 1950px) {
  .section-2__main__organizer {
    padding-left: 23rem;
  }

  .section-2__main__right {
    right: 35rem;
  }
}

@media only screen and (min-width: 2000px) {
  .section-2__main__organizer {
    padding-left: 25rem;
  }

  .section-2__main__right {
    right: 37rem;
  }
}

@media only screen and (min-width: 2050px) {
  .section-2__main__organizer {
    padding-left: 27rem;
  }

  .section-2__main__right {
    right: 39rem;
  }
}

@media only screen and (min-width: 2100px) {
  .section-2__main__organizer {
    padding-left: 28rem;
  }

  .section-2__main__right {
    right: 40rem;
  }
}

@media only screen and (min-width: 2150px) {
  .section-2__main__organizer {
    padding-left: 31rem;
  }

  .section-2__main__right {
    right: 43rem;
  }
}
@media only screen and (min-width: 2200px) {
  .section-2__main__organizer {
    padding-left: 32rem;
  }

  .section-2__main__right {
    right: 43rem;
  }
}

@media only screen and (min-width: 2250px) {
  .section-2__main__organizer {
    padding-left: 33rem;
  }

  .section-2__main__right {
    right: 45rem;
  }
}

@media only screen and (min-width: 2300px) {
  .section-2__main__organizer {
    padding-left: 35rem;
  }

  .section-2__main__right {
    right: 47rem;
  }
}

@media only screen and (min-width: 2350px) {
  .section-2__main__organizer {
    padding-left: 37rem;
  }

  .section-2__main__right {
    right: 49rem;
  }
}

@media only screen and (min-width: 2400px) {
  .section-2__main__organizer {
    padding-left: 39rem;
  }

  .section-2__main__right {
    right: 51rem;
  }
}

@media only screen and (min-width: 2450px) {
  .section-2__main__organizer {
    padding-left: 41rem;
  }

  .section-2__main__right {
    right: 53rem;
  }
}
@media only screen and (min-width: 2500px) {
  .section-2__main__organizer {
    padding-left: 43rem;
  }

  .section-2__main__right {
    right: 55rem;
  }
}
